{% extends 'base.html' %}

{% load static %}

{% block title %}
	Абонемент
{% endblock %}


{% block content %}

{% if error %}
    <div class="row">
        <div class="col-3"></div>
        <div class="mt-5 col-6">
            <h2 class="text-center text-light">{{ error_message }}<h2>
        </div>
        <div class="col-3"></div>
    </div>
{% else %}
	<div class="container">
		<div class="card pass-card mb-4">
			<div class="card- body">
                <div class="input-group mb-3 card-input" style="padding: 15px 10px 0px 10px">
				  <span class="input-group-text">ФИО</span>
	              <input type="text" class="form-control" aria-label="Имя пользователя" values={{cart_name}}>
				  <span class="input-group-text">Дата</span>
	              <input type="text" class="form-control" aria-label="Телефон" values={{cart_phone}}>
                </div>
  
		    </div>
	    </div>
		<div class="card pass-card mb-4">
			<div class="card-body">
				<a class="btn btn-primary float-end pass-button" href="{% url 'del_order' cart_id %}"> 
					Удалить
				</a>
			</div>
		</div>
	  <!-- Карточки -->
	  <div>
		{% for pass in data %}
                {% include 'cart_pass_card.html' with element=pass %}
                {% empty %}
                    <div class="card pass-card mb-4">
					<div class="card-body">
					<ul class="list-group list-group-flush">
						<li class="list-group-item pass-card h5">Список пуст</li>
					</ul>

					</div>
					</div>
        {% endfor %}
	  </div>
      <div class="card pass-card mb-4">
	    <div class="card-body">
	      <ul class="list-group list-group-flush">
            <li class="list-group-item pass-card h3">Итого: {{final_price}}Р</li>
          </ul>

	    </div>
      </div>
	</div>
{% endif %}
{% endblock %}
