<div class="col">
    <div class="card pass-card">
      <img src="{{element.image}}" alt="Название абонемента" class="bd-placeholder-img card-img-top pass-img"/>
      <div class="card-body">
        <h5 class="card-title">{{element.name}}</h5>
        <p class="card-text">{{element.description}}</p>
        <span class="h3 float-start" style="color:white;">{{element.price}} P</span>
        <a href="{% url 'pass_url' element.id %}" class="btn btn-primary float-end pass-button">Подробнее</a>
        <form method="post" action="add_to_order/">
          {% csrf_token %}
          <div class="input-group mb-3 card-input">
            <input type="hidden" value="{{element.id}}" name="selected_pass">
            <input type="number" value="1" class="form-control" aria-label="Имя пользователя получателя" aria-describedby="button-addon2" name="this_pass_count">
            <button class="btn btn-primary pass-button" type="submit" id="button-addon2">Купить</button>
          </div>        
        </form>
      </div>
    </div>
  </div>
  